USE [master]
GO
/****** Object:  Database [QLDSV]    Script Date: 12/22/2020 4:20:31 PM ******/
CREATE DATABASE [QLDSV]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLDSV', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER2\MSSQL\DATA\QLDSV.mdf' , SIZE = 18432KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLDSV_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER2\MSSQL\DATA\QLDSV_log.ldf' , SIZE = 24384KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLDSV].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLDSV]
GO
/****** Object:  User [HTKN]    Script Date: 12/22/2020 4:20:31 PM ******/
CREATE USER [HTKN] FOR LOGIN [HTKN] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [GV03]    Script Date: 12/22/2020 4:20:31 PM ******/
CREATE USER [GV03] FOR LOGIN [vt] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  DatabaseRole [USERS]    Script Date: 12/22/2020 4:20:31 PM ******/
CREATE ROLE [USERS]
GO
/****** Object:  DatabaseRole [PGV]    Script Date: 12/22/2020 4:20:31 PM ******/
CREATE ROLE [PGV]
GO
/****** Object:  DatabaseRole [KHOA]    Script Date: 12/22/2020 4:20:31 PM ******/
CREATE ROLE [KHOA]
GO
ALTER ROLE [db_owner] ADD MEMBER [HTKN]
GO
ALTER ROLE [KHOA] ADD MEMBER [GV03]
GO
ALTER ROLE [db_owner] ADD MEMBER [GV03]
GO
ALTER ROLE [db_datareader] ADD MEMBER [GV03]
GO
ALTER ROLE [db_owner] ADD MEMBER [USERS]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [PGV]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [PGV]
GO
ALTER ROLE [db_datareader] ADD MEMBER [PGV]
GO
ALTER ROLE [db_owner] ADD MEMBER [KHOA]
GO
ALTER ROLE [db_datareader] ADD MEMBER [KHOA]
GO
/****** Object:  Table [dbo].[DIEM]    Script Date: 12/22/2020 4:20:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DIEM](
	[MASV] [char](12) NOT NULL,
	[MAMH] [char](6) NOT NULL,
	[LAN] [smallint] NOT NULL,
	[DIEM] [float] NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_CEA3CFD9B9264C33805370547BA1F0EA]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_DIEM] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC,
	[MAMH] ASC,
	[LAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GIANGVIEN]    Script Date: 12/22/2020 4:20:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GIANGVIEN](
	[MAGV] [nchar](10) NOT NULL,
	[HO] [nvarchar](50) NOT NULL,
	[TEN] [nvarchar](10) NOT NULL,
	[MAKH] [char](4) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_65F365890492400DBDEE8C2AC2645E34]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_GIANGVIEN] PRIMARY KEY CLUSTERED 
(
	[MAGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHOA]    Script Date: 12/22/2020 4:20:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHOA](
	[MAKH] [char](4) NOT NULL,
	[TENKH] [nvarchar](50) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_58F13D34272A43EC923CDEF3A1D8C1DD]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_KHOA] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOP]    Script Date: 12/22/2020 4:20:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOP](
	[MALOP] [char](8) NOT NULL,
	[TENLOP] [nvarchar](200) NULL,
	[MAKH] [char](4) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_5AD7F61189C74559A6382892AF65D1AF]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_LOP] PRIMARY KEY CLUSTERED 
(
	[MALOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UK_TENLOP] UNIQUE NONCLUSTERED 
(
	[TENLOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MONHOC]    Script Date: 12/22/2020 4:20:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MONHOC](
	[MAMH] [char](6) NOT NULL,
	[TENMH] [nvarchar](40) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_E2D95BD6903443E5B916798664559E3D]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_MONHOC] PRIMARY KEY CLUSTERED 
(
	[MAMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [IX_MONHOC] UNIQUE NONCLUSTERED 
(
	[TENMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SINHVIEN]    Script Date: 12/22/2020 4:20:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SINHVIEN](
	[MASV] [char](12) NOT NULL,
	[HO] [nvarchar](40) NULL,
	[TEN] [nvarchar](10) NULL,
	[MALOP] [char](8) NOT NULL,
	[PHAI] [bit] NULL,
	[NGAYSINH] [datetime] NULL,
	[NOISINH] [nvarchar](40) NULL,
	[DIACHI] [nvarchar](80) NULL,
	[GHICHU] [ntext] NULL,
	[NGHIHOC] [bit] NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_792FB71892C24ACDA9E9DF42D0538349]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_SINHVIEN] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  View [dbo].[V_DSGV]    Script Date: 12/22/2020 4:20:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_DSGV]
AS
SELECT MAGV, HO + ' ' + TEN AS HOTEN, MAKH
FROM     dbo.GIANGVIEN


GO
/****** Object:  View [dbo].[V_DSPM]    Script Date: 12/22/2020 4:20:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_DSPM]
AS
SELECT TENKHOA = PUBS.description, TENSERVER = subscriber_server
FROM dbo.sysmergepublications PUBS,  dbo.sysmergesubscriptions SUBS
   WHERE PUBS.pubid= SUBS.PUBID  AND PUBS.publisher <> SUBS.subscriber_server


GO
/****** Object:  View [dbo].[V_DSSV_TaoTK]    Script Date: 12/22/2020 4:20:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_DSSV_TaoTK]
AS
SELECT dbo.SINHVIEN.MASV, dbo.SINHVIEN.HO + ' ' + dbo.SINHVIEN.TEN AS HOTEN, dbo.LOP.MAKH, dbo.SINHVIEN.MALOP
FROM     dbo.SINHVIEN INNER JOIN
                  dbo.LOP ON dbo.SINHVIEN.MALOP = dbo.LOP.MALOP


GO
/****** Object:  View [dbo].[V_GETDSLOP]    Script Date: 12/22/2020 4:20:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_GETDSLOP]
AS
SELECT MALOP, TENLOP, MAKH
FROM     dbo.LOP AS L
WHERE  EXISTS
                      (SELECT MASV, HO, TEN, MALOP, PHAI, NGAYSINH, NOISINH, DIACHI, GHICHU, NGHIHOC, rowguid
                       FROM      dbo.SINHVIEN AS SV
                       WHERE   (MALOP = L.MALOP))


GO
/****** Object:  Index [MSmerge_index_277576027]    Script Date: 12/22/2020 4:20:31 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_277576027] ON [dbo].[DIEM]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_309576141]    Script Date: 12/22/2020 4:20:31 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_309576141] ON [dbo].[GIANGVIEN]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_373576369]    Script Date: 12/22/2020 4:20:31 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_373576369] ON [dbo].[KHOA]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_405576483]    Script Date: 12/22/2020 4:20:31 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_405576483] ON [dbo].[LOP]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_437576597]    Script Date: 12/22/2020 4:20:31 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_437576597] ON [dbo].[MONHOC]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_MALOP]    Script Date: 12/22/2020 4:20:31 PM ******/
CREATE NONCLUSTERED INDEX [IX_MALOP] ON [dbo].[SINHVIEN]
(
	[MASV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_469576711]    Script Date: 12/22/2020 4:20:31 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_469576711] ON [dbo].[SINHVIEN]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DIEM]  WITH NOCHECK ADD  CONSTRAINT [FK_DIEM_MONHOC1] FOREIGN KEY([MAMH])
REFERENCES [dbo].[MONHOC] ([MAMH])
ON UPDATE CASCADE
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[DIEM] CHECK CONSTRAINT [FK_DIEM_MONHOC1]
GO
ALTER TABLE [dbo].[DIEM]  WITH NOCHECK ADD  CONSTRAINT [FK_DIEM_SINHVIEN] FOREIGN KEY([MASV])
REFERENCES [dbo].[SINHVIEN] ([MASV])
ON UPDATE CASCADE
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[DIEM] CHECK CONSTRAINT [FK_DIEM_SINHVIEN]
GO
ALTER TABLE [dbo].[GIANGVIEN]  WITH NOCHECK ADD  CONSTRAINT [FK_GIANGVIEN_KHOA] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHOA] ([MAKH])
ON UPDATE CASCADE
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[GIANGVIEN] CHECK CONSTRAINT [FK_GIANGVIEN_KHOA]
GO
ALTER TABLE [dbo].[LOP]  WITH NOCHECK ADD  CONSTRAINT [FK_LOP_KHOA1] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHOA] ([MAKH])
ON UPDATE CASCADE
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[LOP] CHECK CONSTRAINT [FK_LOP_KHOA1]
GO
ALTER TABLE [dbo].[SINHVIEN]  WITH NOCHECK ADD  CONSTRAINT [FK_SINHVIEN_LOP] FOREIGN KEY([MALOP])
REFERENCES [dbo].[LOP] ([MALOP])
ON UPDATE CASCADE
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[SINHVIEN] CHECK CONSTRAINT [FK_SINHVIEN_LOP]
GO
ALTER TABLE [dbo].[DIEM]  WITH NOCHECK ADD  CONSTRAINT [CK_DIEM_DIEM] CHECK NOT FOR REPLICATION (([DIEM]>=(0) AND [DIEM]<=(10)))
GO
ALTER TABLE [dbo].[DIEM] CHECK CONSTRAINT [CK_DIEM_DIEM]
GO
ALTER TABLE [dbo].[DIEM]  WITH NOCHECK ADD  CONSTRAINT [CK_DIEM_LAN] CHECK NOT FOR REPLICATION (([LAN]=(1) OR [LAN]=(2)))
GO
ALTER TABLE [dbo].[DIEM] CHECK CONSTRAINT [CK_DIEM_LAN]
GO
/****** Object:  StoredProcedure [dbo].[SP_BangDiemSV]    Script Date: 12/22/2020 4:20:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_BangDiemSV] 
@malop NVARCHAR(10), 
@mamh NVARCHAR(10),  
@lan SMALLINT
AS
BEGIN
	
		SELECT SV.HO + ' ' + SV.TEN AS HOTEN, D.MASV, CONVERT(VARCHAR(5), D.DIEM) AS DIEM
		FROM  (SELECT MASV, DIEM FROM dbo.DIEM WHERE MAMH = @mamh AND LAN = @lan)  D
		INNER JOIN
		(SELECT MASV, HO, TEN FROM dbo.SINHVIEN  WITH (INDEX=IX_MALOP) WHERE MALOP = @malop AND NGHIHOC = 'false') SV
		ON D.MASV = SV.MASV
		ORDER BY TEN, HO
END

GO
/****** Object:  StoredProcedure [dbo].[SP_CHECKCODE]    Script Date: 12/22/2020 4:20:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CHECKCODE] 
@Code NVARCHAR(15), @Type NVARCHAR(15)
AS
BEGIN
	--MON HOC
	IF(@Type = 'MAMONHOC')
		BEGIN
			IF EXISTS(SELECT * FROM dbo.MONHOC WHERE MAMH = @Code)
			RETURN 1;
		END
	-- LOP
	IF(@Type = 'MALOP')
		BEGIN
			IF EXISTS(SELECT * FROM dbo.LOP WHERE dbo.LOP.MALOP = @Code)
				RETURN 1; 
	
			ELSE IF EXISTS(SELECT * FROM LINK0.QLDSV.dbo.LOP AS LOP WHERE LOP.MALOP = @Code)
				RETURN 2;
		END
	IF(@Type = 'MASV')
		BEGIN
			IF EXISTS(SELECT * FROM dbo.SINHVIEN WHERE dbo.SINHVIEN.MASV = @Code)
				RETURN 1; 
	
			ELSE IF EXISTS(SELECT * FROM LINK0.QLDSV.dbo.SINHVIEN AS SV WHERE SV.MASV = @Code)
				RETURN 2;	
	END

	RETURN 0	--Không bị trùng được thêm
END

GO
/****** Object:  StoredProcedure [dbo].[SP_CHECKCODEHOCPHI]    Script Date: 12/22/2020 4:20:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CHECKCODEHOCPHI] 
	@masv NVARCHAR(10)
AS
BEGIN
  
  IF EXISTS (SELECT * FROM LINK0.QLDSV.dbo.HOCPHI WHERE MASV = @masv )
    RETURN 1 -- mã tồn tại
  RETURN 0  -- mã không tồn tại.
END


GO
/****** Object:  StoredProcedure [dbo].[SP_CHECKNAME]    Script Date: 12/22/2020 4:20:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CHECKNAME] 
@Name NVARCHAR(15), @Type NVARCHAR(15)
AS
BEGIN
	--MON HOC
	IF(@Type = 'TENMONHOC')
	BEGIN
		IF EXISTS(SELECT * FROM dbo.MONHOC WHERE TENMH = @Name)
		RETURN 1;
	END

	--LOP
	IF(@Type = 'TENLOP')
	BEGIN
		IF EXISTS(SELECT * FROM dbo.LOP WHERE dbo.LOP.TENLOP = @Name)
			RETURN 1; --trùng
	
		ELSE IF EXISTS(SELECT * FROM LINK0.QLDSV.dbo.LOP AS LOP WHERE LOP.TENLOP = @Name)
			RETURN 2;	--trùng
	END

	RETURN 0;

END

GO
/****** Object:  StoredProcedure [dbo].[SP_DANGNHAP]    Script Date: 12/22/2020 4:20:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DANGNHAP]
@TENLOGIN NVARCHAR (50)
AS
DECLARE @TENUSER NVARCHAR(50)
SELECT @TENUSER=NAME FROM sys.sysusers WHERE sid = SUSER_SID(@TENLOGIN)
 SELECT USERNAME = @TENUSER, 
  HOTEN = (SELECT HO+ ' '+ TEN FROM GIANGVIEN  WHERE MAGV = @TENUSER ),
   NAME
   FROM sys.sysusers 
   WHERE UID = (SELECT GROUPUID 
                 FROM SYS.SYSMEMBERS 
               WHERE MEMBERUID= (SELECT UID FROM sys.sysusers  WHERE NAME=@TENUSER))


GO
/****** Object:  StoredProcedure [dbo].[SP_DSSVNhapDiem]    Script Date: 12/22/2020 4:20:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DSSVNhapDiem] @malop NVARCHAR(10)
AS
BEGIN
		
		SELECT sv.HO + ' ' + sv.TEN AS HOTEN , MASV, DIEM = ''
		FROM  dbo.SINHVIEN sv
		WHERE sv.MALOP = @malop AND sv.NGHIHOC = 'false'
		ORDER BY sv.TEN, sv.HO

END


GO
/****** Object:  StoredProcedure [dbo].[SP_getBangDiemMonHoc]    Script Date: 12/22/2020 4:20:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_getBangDiemMonHoc]
@malop NVARCHAR(10), @mamh NVARCHAR(10),  @lan INT
AS
BEGIN
  DECLARE @TENLOP NVARCHAR(100), @TENMH NVARCHAR(100)
  SELECT @TENLOP= TENLOP FROM LOP WHERE MALOP = @malop 
  SELECT @TENMH = TENMH FROM MONHOC WHERE MAMH = @mamh
  
SELECT TENLOP=@TENLOP , TENMH=@TENMH  , SV.MASV , HOTEN=HO+' '+TEN, DIEM 
    FROM 
		(SELECT MASV, HO,TEN 
			FROM SINHVIEN WITH (INDEX=IX_MALOP) 
			WHERE MALOP = @malop) SV, 
		(SELECT MASV , DIEM 
			FROM DIEM 
			WHERE MAMH = @mamh AND LAN = @lan) DIEM
    WHERE	SV.MASV = DIEM.MASV         
END

GO
/****** Object:  StoredProcedure [dbo].[SP_getBangDiemTongKet]    Script Date: 12/22/2020 4:20:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_getBangDiemTongKet]
@malop NVARCHAR(8)
AS
BEGIN
SELECT SV.MASV, HOTEN = SV.HO + ' ' + SV.TEN, TENMH, TBD.DIEM
	FROM (SELECT D.MASV, D.MAMH, MAX(D.Diem) as DIEM
			FROM Diem D
			GROUP BY D.MAMH, D.MASV) as TBD
INNER JOIN SINHVIEN SV ON SV.MALOP = @malop AND SV.MASV = TBD.MASV
INNER JOIN MONHOC MH ON MH.MAMH = TBD.MAMH
END

GO
/****** Object:  StoredProcedure [dbo].[SP_getPhieuDiem]    Script Date: 12/22/2020 4:20:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_getPhieuDiem]
@MSSV NVARCHAR(12)
AS
BEGIN
	SELECT MH.TENMH, TBD.DIEM
	FROM (SELECT D.MAMH, MAX(D.Diem) as DIEM
			FROM Diem D
			WHERE D.MASV = @MSSV
			GROUP BY MAMH) as TBD
	INNER JOIN MONHOC MH
	ON MH.MAMH = TBD.MAMH       
END

GO
/****** Object:  StoredProcedure [dbo].[SP_NHAPDIEM]    Script Date: 12/22/2020 4:20:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_NHAPDIEM]  
@MASV NVARCHAR(12),  
@MAMH NVARCHAR(10),  
@LAN  smallint,  
@DIEM float  
AS  
BEGIN  
            IF EXISTS (SELECT 1 FROM DIEM WHERE MASV=@MASV AND MAMH=@MAMH AND LAN=@LAN)  
                BEGIN  
                    UPDATE DIEM  
                    SET DIEM = @DIEM   
                    WHERE MASV= @MASV AND MAMH=@MAMH AND LAN=@LAN
                END  
            ELSE  
                BEGIN  
                    INSERT INTO DBO.DIEM (MASV, MAMH, LAN, DIEM)  
                    VALUES (@MASV, @MAMH, @LAN, @DIEM)  
                END   
END  

GO
/****** Object:  StoredProcedure [dbo].[SP_REPORT_BDTHI]    Script Date: 12/22/2020 4:20:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_REPORT_BDTHI](@MALOP NVARCHAR(15), @MAMONHOC NVARCHAR(15),@LAN INT)
AS
BEGIN
  IF EXISTS (SELECT 1 FROM dbo.SINHVIEN SV, dbo.DIEM D WHERE SV.MALOP = @MALOP AND SV.MASV = D.MASV AND D.MAMH = @MAMONHOC AND D.LAN =@LAN)
    BEGIN
      SELECT SV.MASV, SV.HO +' '+ SV.TEN AS HOTEN, DIEM
	  FROM dbo.SINHVIEN SV, dbo.DIEM D
      WHERE SV.MASV = D.MASV AND @MALOP = SV.MALOP AND @LAN = D.LAN AND @MAMONHOC = D.MAMH AND SV.NGHIHOC ='False'
    END
  ELSE RETURN 1;
END

GO
/****** Object:  StoredProcedure [dbo].[SP_REPORT_DSDHP]    Script Date: 12/22/2020 4:20:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_REPORT_DSDHP]
(@MALOP NVARCHAR(15),@NIENKHOA NVARCHAR(15),@HK INT)
AS
BEGIN
  IF EXISTS (SELECT 1 FROM dbo.SINHVIEN AS SV WHERE SV.MALOP = @MALOP)
  BEGIN
	   SELECT HO +' '+ TEN AS HOTEN, HOCPHI, ISNULL(SOTIENDONG, 0 ) AS SOTIENDONG
	   FROM dbo.SINHVIEN SV INNER JOIN (dbo.HOCPHI HP LEFT JOIN dbo.CT_DONGHOCPHI CTDHP ON  HP.MASV = CTDHP.MASV)
										 ON SV.MASV = HP.MASV								
	   WHERE SV.MALOP = @MALOP AND HP.NIENKHOA =@NIENKHOA AND HP.HOCKY = @HK AND SV.NGHIHOC = 'False'

  END
  ELSE RETURN 1;
END

GO
/****** Object:  StoredProcedure [dbo].[SP_REPORT_DSSV]    Script Date: 12/22/2020 4:20:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_REPORT_DSSV](@MALOP CHAR(15))
AS
BEGIN
	SELECT SV.HO AS HO, SV.TEN AS TEN,
	CASE
		WHEN SV.PHAI = 1 THEN N'Nam'
		WHEN SV.PHAI = 0 THEN N'Nữ'
	END AS PHAI,
	 CONVERT(VARCHAR(12),SV.NGAYSINH,106) AS NGAYSINH, SV.NOISINH, SV.DIACHI FROM dbo.SINHVIEN AS SV WHERE SV.MALOP = @MALOP AND SV.NGHIHOC='false'
	 ORDER BY TEN ASC
END

GO
/****** Object:  StoredProcedure [dbo].[sp_TaoTaiKhoan]    Script Date: 12/22/2020 4:20:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_TaoTaiKhoan]
	@LGNAME VARCHAR(50),
	@PASS VARCHAR(50),
	@USERNAME VARCHAR(50),
	@ROLE VARCHAR(50)
AS
	-- check login , user bị trùng 
	IF EXISTS(SELECT name FROM sys.server_principals 
						  WHERE TYPE IN ('U', 'S', 'G')	--U: Windows Login Accounts
									 AND name NOT LIKE '%##%'		--S: SQL Login Accounts
									 AND name = @LGNAME)				--G: Windows Group Login Accounts
		RETURN 1	--Trùng Login
	ELSE IF EXISTS(SELECT name FROM sys.database_principals
					WHERE type_desc = 'SQL_USER'
					AND name = @USERNAME)
		RETURN 2	--Trùng User

	-- băt đầu tạo tài khoản
	DECLARE @RET INT
	EXEC @RET= SP_ADDLOGIN @LGNAME, @PASS,'QLDSV'
	IF (@RET =1) 
		RETURN 3 -- tạo tài khoản không thành công
 
	EXEC @RET= SP_GRANTDBACCESS @LGNAME, @USERNAME
	IF (@RET =1) 
	BEGIN
       EXEC SP_DROPLOGIN @LGNAME
       RETURN 3 -- tạo  tài khoảng không thành công
	END
	EXEC sp_addrolemember @ROLE, @USERNAME

	 --THEM ROLE SECURITYADMIN DE CO QUYEN TAO TAI KHOAN
	IF @ROLE = 'PGV'  OR @ROLE = 'KHOA' OR @ROLE = 'PKeToan'
	BEGIN
  		EXEC sp_addsrvrolemember @LGNAME, 'SecurityAdmin'
		EXEC sp_addsrvrolemember @LGNAME, 'sysadmin'
	END
	RETURN 0  -- THANH CONG

GO
USE [master]
GO
